<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td><b>Before</b></td><td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td><b>September 11</b></td><td><a href="http://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell</a></td></tr>
      <tr><td></td><td>The Unix shell allows users to complete complex tasks with few keystrokes, combine existing programs in new ways, and automate tasks to avoid repetition. During this lesson, you’ll learn the basics of managing file systems in the shell, including manipulating files and directories, searching for files, and writing simple loops and scripts.</td></tr>     
      <tr> <td><b>September 18</b></td><td><a href="https://uw-madison-datascience.github.io/git-novice-custom/">Version Control Using Git</a></td></tr>
      <tr><td></td><td>This lesson will introduce you to automating version control using Git, and will cover setting up a Git, creating a repository, tracking changes, and working collaboratively using github.</td></tr>
      <tr> <td><b>September 25</b></td><td><a href="https://uw-madison-datascience.github.io/python-novice-gapminder-custom/">Programming with Python</a></td></tr>
      <tr><td></td></tr>This lesson is an introduction to programming in Python for people with little or no previous programming experience. We will introduce variables, data types, Python’s various libraries, and plotting data.</td></tr>
      <tr> <td><b>October 2</b></td><td><a href="https://uw-madison-datascience.github.io/python-novice-gapminder-custom/">Plotting and Programming with Python</a></td></tr>
      <tr><td></td><td>This lesson will build on the previous Introduction to Python, and you will learn about for loops creating functions and conditionals, and how to make your code readable. </td></tr>
      <tr> <td><b>October 9</b></td><td>Optional: Open Coding Lab (8:30 a.m. – 12:00 p.m.</td></tr>
      <tr><td></td><td>Do you have questions about any of the tools that you’ve learned about over the last four weeks or how to apply them to your research? This week’s session will allow you to come to work on applying what you learned to your own data. The instructors from the previous weeks’ lessons will be available to help answer your questions and work with you on any issues.</td></tr> 
      <tr> <td><b>October 9</b></td><td><a href = "https://uw-madison-datascience.github.io/python-novice-gapminder-custom/">Workflows with Python and Git</a></td></tr>
      <tr><td></td><td>This lesson will introduce you to using Git for collaboration with your colleagues and other researchers. You will learn how to create a repository, record changes to your files, explore the history of your files, and manage the files in your repository. </td></tr>
      <tr><td><b>END</b></td><td><a href="https://www.surveymonkey.com/r/swc_post_workshop_v1?workshop_id=2019-09-11-uwmadison-swc">Post-Workshop Survey</a></td></tr>
    </table>
  </div>
</div>
