<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td><b>Before</b></td><td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td><b>September 11</b></td><td><a href="http://swcarpentry.github.io/shell-novice/">Automating Tasks with the Unix Shell</a></td></tr>
      <tr> <td><b>September 18</b></td><td><a href="https://uw-madison-datascience.github.io/git-novice-custom/">Version Control Using Git</a></td></tr>
      <tr> <td><b>September 25</b></td><td><a href="https://uw-madison-datascience.github.io/python-novice-gapminder-custom/">Programming with Python</a></td></tr>
      <tr> <td><b>October 2</b></td><td><a href="https://uw-madison-datascience.github.io/python-novice-gapminder-custom/">Plotting and Programming with Python</a></td></tr>
      <tr> <td><b>October 9</b></td><td><a href = "https://uw-madison-datascience.github.io/python-novice-gapminder-custom/">Workflows with Python and Git</a></td></tr>
      <tr><td><a href="https://www.surveymonkey.com/r/swc_post_workshop_v1?workshop_id=2019-09-11-uwmadison-swc">Post-Workshop Survey</a></td></tr>
      <tr><td>END</td></tr>
    </table>
  </div>
</div>
